* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(250, 208, 222, 0.911);
  position: relative;
  
}



#corpoCaixa {
  height: 100%;
  width: 100vw;
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 20px;
}

#caixa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;

  background: linear-gradient(to bottom, #f08c29, #d9781f);
  border: 4px solid #5c3270d5;
}
#corpoButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 7%;
}
#buttonsJustify,
#buttonsAlign {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 250px;
  text-align: center;
  color: rgb(245, 123, 10);
  text-shadow:  #5c3270 0.1em 0.1em 0.1em;
  font-size: 1rem;
}
button {
  background: linear-gradient(to bottom, #f08c29, #d9781f);
  border: 4px solid #5c3270;
  border-radius: 12px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 10px 30px;
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.3),
    0px 4px 6px rgba(0, 0, 0, 0.5);
  display: inline-block;
  cursor: pointer;
  margin: 3px;
}

button:active {
  box-shadow: inset 0px 6px 8px rgba(0, 0, 0, 0.5),
    0px 2px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(2px);
}
#guide{
  color: rgb(245, 123, 10);
  text-shadow:  #5c3270 0.1em 0.1em 0.1em;
  font-weight: bold;
}
h2{
    padding:10px;
    
    font-size: 1.5rem;
    
}

#titulo {
  font-size: 2rem;
  color: rgb(245, 123, 10);
  text-shadow:  #5c3270 0.1em 0.1em 0.1em;
  top: 10%;
  position: absolute;
  text-align: center;
  
  
}





@media (max-width:425px){
    #caixa{
      width: 80px;
      height: 80px;
    }
    button{
      font-size: 0.6rem;

    }
    #buttonsJustify,
#buttonsAlign{
  width: 150px;
}
body{
  background-position: center;
}
  

}